/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Typography
	#Generic Styles
	#Separators
	#Intro
	#Nav
	#About
	#Portofolio
	#Team
	#Contact
	#Social
	#Media Queries
	#Font-Face */

/*****************************************************
1: Typography
******************************************************/

h1, h2, h3 {
	font-family: 'Play', sans-serif;
}

body, h4, h5, p {
	/*font-family: 'Quattrocento Sans', sans-serif;
	font-family: 'Gloria Hallelujah', cursive;*/
	font-family: 'Titillium Web', sans-serif;
}

h1 {
	color: #333333;
	font-size: 50px;
	font-weight: 400;
	text-transform: uppercase;
	position: relative;
	z-index: 150;
	margin-top: 20px;
	margin-bottom: 70px;
}

h2 {
	font-size: 40px;
	font-weight: 700;
	color: #666666;
	text-transform: uppercase;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 80px;
}

h3 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 600;
	color: #434343;
	margin-top: 10px;
}

h3.small {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 400;
	color: #434343;
	margin-top: 0px;
}

h4 {
	font-size: 31px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}

h5 {
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
}

p {
	font-size: 18px;
	font-weight: 400;
	line-height: 23px;
	color: #515151;
}

p.small {
	font-size: 13px;
	font-weight: 400;
	color: #fff;
}

span.lines {
	border-bottom: 1px solid #aeaeae;
}

a { 
	text-decoration: none;
	-webkit-transition: all 0.5s; 
	-moz-transition: all 0.5s; 
	-o-transition: all 0.5s; 
	transition: all 0.5s; 
}

a:hover, a:focus { 
	color: #333333; 
	text-decoration: none; 
}


/*****************************************************
2: Generic Styles
******************************************************/

.hidden {
	display: none;
}

.center {
	text-align: center;
}

.white {
	color: #fff;
}

.hitam {
	background: black;
}

.merah {
	background: red;
}

#games {
	padding-top: 40px;
	padding-bottom: 100px;
}

/*****************************************************
3: Separators
******************************************************/

p.separator {
	font-size: 60px;
	font-weight: 400;
	font-style: italic;
	color: #fff;
	line-height: 38px;
	text-transform: uppercase;
	position: relative;
	z-index: 200;
	text-align: center;
	padding-top: 80px;
}

#separator1 {
	width: 100%;
	height: 200px;
	position: relative;
}

#separator1 .bg2 {
	background: #3e80c2;
    /*url(../images/dummy9.png);*/
	margin: 0 auto;
	padding: 0;
	position: absolute;
	z-index: 200;
	width: 100%;
	height: 500px;
}

#separator2 {
	width: 100%;
	height: 200px;
	position: relative;
}

#separator2 .bg3 {
	background: #3e80c2;
    /*url(../images/dummy8.png);*/
	margin: 0 auto;
	padding: 0;
	position: absolute;
	z-index: 200;
	width: 100%;
	height: 500px;
}

#separator3 {
	width: 100%;
	height: 200px;
	position: relative;
}

#separator3 .bg4 {
	background: #3e80c2;
    /*url(../images/dummy7.png);*/
	margin: 0 auto;
	padding: 0;
	position: absolute;
	z-index: 200;
	width: 100%;
	height: 500px;
}


/*****************************************************
4: Intro
******************************************************/

#intro {
	width: 100%;
	height: 610px;
	text-align: center;
	z-index: 100;
}

#intro .bg1 {
	background: url(../images/dummy7.png);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 600px;
}


.title p {
	font-size: 13px;
	color: #333333;
	position: relative;
	z-index: 150;
	padding-top: 1%;
	padding-left: 90%;
}
/*
.title a {
	color: #333333;
}

.tittle a:hover {
	color: #666666;
}

.intro-logo {
	margin: 5% 0px 20px;
	max-width: 100%; 
	height: auto;
	position: relative;
	z-index: 150;
}
/*
.title {
	position: fixed;
	width: 100%;
	text-align: center;
	z-index: 150;
	padding-top: 70px;
}

.title p {
	font-size: 24px;
	line-height: 30px;
	color: #fff;
	position: relative;
	z-index: 150;
}
*/

/*****************************************************
5: Nav
******************************************************/

nav {
    background: #fff;
    width: 100%;
    position: relative;
    z-index: 999;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
}

/* See more on stylesheets/slimmenu.css */


/*****************************************************
6: About
******************************************************/

#about {
	background: #fff;
	position: relative;
	text-align: center;
	z-index: 300;
	padding-top: 40px;
	padding-bottom: 40px;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
}

.about-img {
	padding-bottom: 50px;
	max-width: 100%; 
	height: auto;
	position: relative;
	z-index: 400;
}


/*****************************************************
7: Portofolio
******************************************************/

#portofolio {
	background: #f5f5f5;
	/*background: url(../images/dummy6.png);*/
	position: relative;
	z-index: 300;
	padding-top: 20px;
	padding-bottom: 40px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

/* Codrops common style */
.grid {
	margin: 40px auto 120px;
	max-width: 1000px;
	width: 100%;
}

.grid a {
	float: left;
	max-width: 250px;
	width: 25%;
	color: #333;
}

.grid a:nth-child(odd) {
	margin: 10px 0 -30px 0;
}

.grid figure {
	position: relative;
	overflow: hidden;
	margin: 5px;
	background: #333;
}

.grid figure img {
	position: relative;
	display: block;
	width: 100%;
	opacity: 0.7;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.grid figure img .comingsoon {
	opacity: 0.2;
}

.grid figcaption {
	position: absolute;
	top: 0;
	z-index: 11;
	padding: 10px;
	width: 100%;
	height: 100%;
	text-align: center;
}

.grid figcaption h2 {
	margin: 0 0 20px 0;
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	font-size: 130%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.grid figcaption p {
	padding: 0 20px;
	color: #aaa;
	font-size: 16px;
	font-weight: 300;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption h2,
.grid figcaption p {
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
}

.grid figure button {
	position: absolute;
	padding: 4px 20px;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption,
.grid figcaption h2,
.grid figcaption p,
.grid figure button {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* Style for SVG */
.grid svg {
	position: absolute;
	top: -1px; /* fixes rendering issue in FF */
	z-index: 10;
	width: 100%;
	height: 100%;
}

.grid svg path {
	fill: #fff;
}

/* Hover effects */
.grid a:hover figure img {
	opacity: 1;
}

.grid a:hover figcaption h2,
.grid a:hover figcaption p {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.grid a:hover figcaption p {
	opacity: 0;
}

/* Individual styles */

.grid figure button {
	top: 50%;
	left: 50%;
	border: 3px solid #fff;
	background: transparent;
	color: #fff;
	opacity: 0;
	-webkit-transform: translateY(-50%) translateX(-50%) scale(0.25);
	transform: translateY(-50%) translateX(-50%) scale(0.25);
}

.grid a:hover figure button {
	opacity: 1;
	-webkit-transform: translateY(-50%) translateX(-50%) scale(1);
	transform: translateY(-50%) translateX(-50%) scale(1);
}

.grid figcaption h2,
.grid figcaption p {
	-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
	timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
}

.grid a:hover figcaption p {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
}

.grid figcaption h2 {
	color: #666666;
}

.grid a:hover figcaption h2 {
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}

/* Media Queries */
/* Let's redefine the width of each anchor and the margins */

@media screen and (max-width: 58em) {
	.grid a {
		width: 33.333%;
	}

	.grid a:nth-child(odd) {
		margin: 0;
	}

	.grid a:nth-child(3n-1) {
		margin: 30px 0 -30px 0;
	}
}

@media screen and (max-width: 45em) {
	.grid {
		max-width: 500px;
	}

	.grid a {
		width: 50%;
	}

	.grid a:nth-child(3n-1) {
		margin: 0;
	}

	.grid a:nth-child(even) {
		margin: 30px 0 -30px 0;
	}


	.grid figcaption h2 {
		margin-bottom: 0px;
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}

	.grid figcaption p {
		margin: 0;
		padding: 0 10px;
	}
}

@media screen and (max-width: 27em) {
	.grid {
		max-width: 250px;
	}

	.grid a {
		width: 100%;
	}

	.grid a:nth-child(even) {
		margin: 0;
	}
}


/*****************************************************
8: Team
******************************************************/

#team {
	background: #f5f5f5;
	position: relative;
	z-index: 300;
	padding-top: 20px;
	padding-bottom: 40px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

/*****************************************************
9: Contact
******************************************************/

#contact {
	background: #f5f5f5;
	position: relative;
/*	background: url(../images/dummy7.png) 0 0 fixed;*/
	
	z-index: 300;
	padding-top: 20px;
	padding-bottom: 40px;
}

.contact-details { 
	margin: 10px 0; 
}

.contact-details h2 { 
	font-size: 20px; 
	margin-top: 20px;
	margin-bottom: 5px;
}

.contact-details h2 span { 
	display: block; 
	color: #3e80c2; 
	text-transform: uppercase; 
	letter-spacing: 1px; 
	font-size: 14px; 
	margin : 5px 0;
}

.contact-details p { 
	margin-top: 18px;
	font-size: 16px; 
}

.light-box { 
	background-color: #fff; 
	-webkit-box-shadow: 0px 3px 0px 0px #f0f2f4; 
	-moz-box-shadow: 0px 3px 0px 0px #f0f2f4; 
	box-shadow: 0px 3px 0px 0px #f0f2f4; 
	padding: 20px 0; 
}

.light-box:hover, .light-box:focus { 
	-webkit-box-shadow: 0px 3px 0px 0px #3e80c2; 
	-moz-box-shadow: 0px 3px 0px 0px #3e80c2; 
	box-shadow: 0px 3px 0px 0px #3e80c2; 
}

.box-hover { 
	transition: all 500ms ease-in-out; 
	-webkit-transition: all 500ms ease-in-out; 
	-moz-transition: all 500ms ease-in-out; 
	-o-transition: all 500ms ease-in-out; 
}

.box-hover:hover, .box-hover:focus { 
	transform: translate(0, -15px); 
	-webkit-transform: translate(0, -15px); 
	-ms-transform: translate(0, -15px); 
}


/*****************************************************
10: Social
******************************************************/

ul.social-buttons { 
	list-style: none; 
	margin: 0; 
	padding: 0; 
}

ul.social-buttons li { 
	display: inline-block; 
	margin-right: 10px; 
}

ul.social-buttons li:last-child { 
	margin-right: 0; 
}

.social-btn { 
	width: 40px; 
	height: 40px; 
	margin-top: 20px;
	border-radius: 50%; 
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	-o-border-radius: 50%; 
	background: #242830; 
	display: inline-block;
	text-align: center; 
}

.social-btn:hover, .social-btn:focus { 
	background: #3e80c2;
}


/*****************************************************
11: Blog
******************************************************/

#blog {
	background: #333333;
	/*background: url(../images/dummy4.png) 0 0 fixed;*/
	position: relative;
	z-index: 300;
	padding-top: 20px;
	padding-bottom: 40px;
}

h1.blog {
	font-size: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Effect 9: second text and borders */

.cl-effect-9 {
	/*background: #333333;*/
	-webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0);
	box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0);
}

.cl-effect-9 a {
	margin: 0 20px;
	padding: 18px 20px;
}

.cl-effect-9 a::after {
	top: 100%;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-9 a span:first-child {
	z-index: 2;
	display: block;
	color: #fff;
	font-size: 50px;
	font-weight: 400;
	position: relative;
	z-index: 150;
	margin-top: 20px;
	margin-bottom: 20px;
}

.cl-effect-9 a span:last-child {
	z-index: 1;
	display: block;
	padding: 8px 0 0 0;
	color: #cccccf;
	text-shadow: none;
	text-transform: none;
	font-style: italic;
	font-size: 0.75em;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

.cl-effect-9 a:hover::before,
.cl-effect-9 a:focus::before {
	height: 6px;
}

.cl-effect-9 a:hover::before,
.cl-effect-9 a:hover::after,
.cl-effect-9 a:focus::before,
.cl-effect-9 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.cl-effect-9 a:hover span:last-child,
.cl-effect-9 a:focus span:last-child {
	opacity: 1;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
}




.copyright {
	border-top: 1px solid #858585;
	text-align: center;
	margin-top: 30px;
	padding-top: 10px;
}

.copyright p {
	color: #cccccf;
	font-size: 14px;
}



/*****************************************************
13: Media Queries
******************************************************/

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 1280px) {
		
		.title {
			position: relative;
		}
		
		#intro {
			height: 500px;
		}
		
		.intro-logo {
			margin: 20px 0px 20px;
			max-width: 100%; 
			height: auto;
			position: relative;
			z-index: 150;
		}

		.title {
			padding-top: 20px;
		}
		
		h1 {
			font-size: 50px;
			margin-bottom: 60px;
		}

		h1.small {
			font-size: 30px;
			margin-bottom: 20px;
		}
    
        a.proj-mobile {
            display: block;
        }
    
        .hoverimage {
            display: none;
        }
        .overlay-img, img.icn1, img.icn2 {
            display: none;
        }
		
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 640px) {

		p.separator {
			font-size: 30px;
		}

		.title p {
			padding-top: 1%;
			padding-left: 80%;
		}

		.title a {
			font-size: 10px;
		}

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		h1 {
			font-size: 30px;
			margin-bottom: 20px;
		}
		
		h1.small {
			font-size: 40px;
			margin-bottom: 20px;
		}
		
		.title p {
			font-size: 10px;
			line-height: 28px;
		}
		
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
		#intro {
			height: 375px;
		}
		
		.title {
			position: relative;
			padding-top: 20px;
		}
		
		.intro-line {
			display: none;
		}
		
		h1 {
			font-size: 60px;
			margin-bottom: 15px;
		}
		
		h1.small {
			font-size: 30px;
			margin-bottom: 15px;
		}
		
		.title p {
			font-size: 18px;
			line-height: 28px;
            margin-bottom: 0;
		}
		
	}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/